<%= tag.div id: dom_id(result), class: "d-flex gap-3 align-items-center" do %>
  <div class="d-flex align-items-center gap-1 fw-semibold p-1">
    <% if result.success? %>
      <span class="text-success">✓</span>
      <span class="fs-6">Success</span>
    <% else %>
      <span class="fail">✗</span>
      <span>Fail</span>
    <% end %>
  </div>
  <div class="fw-light small-text">
    <%= time_ago_in_words(result.created_at).upcase_first %> ago
  </div>
<% end %>