<%= link_to page, id: dom_id(page), class: "text-decoration-none text-dark small p-3 hover-bg" do %>
  <div class="d-flex justify-content-between">
    <div>
      <h5 class="fw-bold fs-6 mb-0"><%= page.name %></h5>
      <div><%= page.url %></div>
    </div>

    <%= render page.last_result %>
  </div>
<% end %>