<p style="color: green"><%= notice %></p>

<% content_for :title, "Pages" %>

<div class="d-flex justify-content-between mb-3">
  <h2 class="mb-3">Pages</h2>
  <%= link_to "Monitor a new page", new_page_path, class: "btn btn-secondary shadow p-3 rounded" %>
</div>


<div id="pages" class="d-flex flex-column border-top border-bottom">
  <%= render @pages %>
</div>
