.btn-secondary {
    background-color:#b6acf3;
    border:#b6acf3;
}
.btn-secondary:hover {
    background-color:#c5bdf0;
}
.hover-bg:hover {
      background-color:#c5bdf021;
}
.small-text {
    font-size:12px;
}
.success {
    color:#109648;
    font-size:12px;

}
.fail {
    color:#da0835;
    font-size:12px;
}